<ion-menu [content]="content">
  <ion-content>
    <ion-row *ngFor="let u of (users | async)">
      <img class="user-img" src="http://www.obe-apps.tk/obe_apiv2/upload/{{ u.user_img }}">
      <ion-item>
        <ion-row>{{ u.user_name }}</ion-row>
        <ion-row>@{{ u.user_callsign }}</ion-row>
      </ion-item>
    </ion-row>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-start></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list class="log-out">
      <button menuClose ion-item (click)="logout()">
        <ion-icon [name]="log-out" item-start></ion-icon> Log out
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>